body {
  display: flex;
  flex-direction: column;

  background-image: url(../img/Фон\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-wrap {
  display: flex;
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-wrap a {
  text-decoration: none;
}
.wrap-text:hover {
  color: rgba(71, 173, 120, 0.6);
}

.wrap-text {
  color: #fff;
  font-family: Ubuntu;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  margin: 18px auto 18px 90px;
}
.header-wrap-icons {
  display: flex;
}
.header-wrap-icons::after {
  content: "";
  display: block;
  border-right: 1px solid white;
  opacity: 0.5;
  background: rgba(255, 255, 255, 0.9);
  margin: 15px 40px 15px 40px;
  height: 26px;
}
.header-wrap-icons a {
  padding: 16px 10px 12px 15px;
}

.header-wrap-welcom {
  margin: 21px 90px 18px 10px;
}
.header-wrap-welcom a {
  color: #fff;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.header-wrap-welcom-login-login:hover {
  color: rgba(71, 173, 120, 0.6);
}
.header-wrap-welcom-signup-signup:hover {
  color: rgba(71, 173, 120, 0.6);
}

#mysvg1:hover path {
  fill: rgba(71, 173, 120, 0.6);
}

.main {
  margin: 43px auto;
  width: 444px;
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}
.logwrap {
  padding-top: 30px;
  display: flex;
}
.signup {
  padding-left: 40px;
  padding-right: 225px;
}

.square {
  background: #3cb878;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.signup {
  color: #434343;
  text-align: center;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.login {
  color: #3cb878;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.buttons {
  padding-top: 15px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.but1 {
  background-color: rgba(2, 34, 99, 0.8);
  color: #fff;
  width: 160px;
  height: 48px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}
.but1:active {
  background-color: rgb(2, 34, 99);
}
.f {
  font-size: 35px;
  padding-right: 20px;
  font-weight: 800;
}
.face {
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 13px;
}
.but2 {
  background-color: rgba(171, 31, 9, 0.8);
  color: #fff;
  width: 160px;
  height: 48px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}
.but2:active {
  background-color: rgb(171, 31, 9);
}
.g {
  font-size: 35px;
  padding-right: 20px;
  font-weight: 800;
  margin-right: -18px;
}
.g-plus {
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
  margin-right: 15px;
}
.goog {
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 13px;
}
.or {
  color: #848484;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-top: 31px;
  margin-bottom: 12px;
}
section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
section input {
  width: 324px;
  height: 45px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
}
.check {
  display: flex;
}
.check-box {
  width: 14px;
  height: 13.5px;
}
.check-text {
  margin-top: 2px;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.check-text a{
    color: #01813f;
}
.submit {
  width: 324px;
  height: 46px;
  border-radius: 4px;
  background-color: rgba(1, 129, 63, 0.8);

  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 30px;
}
.submit:active{
    background-color: rgb(1, 129, 63);

}
